
<!-- include header -->
<%- include('includes/_header') %>
<!-- /include header -->
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
 
  <link rel="stylesheet" href="css/bootstrap.min.css">
		
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <% if (error.length>0){ %>
          <div class="alert alert-danger"><%= error %></div>
          <% } %>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        <!-- add user form -->
        <%- include('includes/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('includes/_footer') %>
<!-- /include footer -->