
<!-- include header -->
<%- include('includes/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        
        <div class="container">
            <div class="box-nav d-flex justify-between" style="float:left;padding-left:10em;">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">Home <i class="fas fa-house-user"></i></span>
                </a>
            </div>
            <div class="box-nav d-flex justify-between" style="float:left; padding-left:2em;">
                <a href="/add-student" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
            </div>
            <div class="box-nav d-flex justify-between " style="float:left; padding-left:2em;">
                <a href="/register" class="border-shadow">
                    <span class="text-gradient">Register new class <i class="fas fa-user-plus"></i></span>
                </a>
            </div>
            <div class="box-nav d-flex justify-between" style="float:left; padding-left:2em;">
                <a href="/view-classes" class="border-shadow">
                    <span class="text-gradient">View all classes <i class="fas fa-eye"></i></span>
                </a>
            </div>
<br><br><br><br>
<h2 style="text-align: center;">All registered classes</h2>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Standard</th>
                            <th>Division</th>
                            <th>View Students</th>
                            <th><a class="btn update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a class="btn delete" style = "padding-left: 3em;" >
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('includes/_showClasses') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('includes/_footer') %>
<!-- /include footer -->